# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.tlog
*.exp
MediaInfo.res
MediaInfoShellExt.h
MediaInfoShellExt.res
zlib.res
*.idb
*.VC.opendb
*.VC.db
*.ipch

